
// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';
@import 'bootstrap-theme.css';
@import 'bootstrap-theme.css.map';
@import 'bootstrap.css';
@import 'bootstrap-theme.min.css';
@import 'bootstrap.css.map';
@import 'bootstrap.min.css';
@import 'main.css';
@import 'style.css';


// Bootstrap
@import '~bootstrap/scss/bootstrap';

.navbar-laravel {
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.04);
}
