
h1 {
  text-transform: uppercase;
}


.spacing-1 {
    margin-top: 5em;
}

.spacing-2 {
    margin-top: 1em;
}

.center {
    text-align: center;
}

.text-accent {
    color: #727272;
}

.spacing-1 {
    margin-top: 5em;
}

.spacing-2 {
    margin-top: 1em;
}

.center {
    text-align: center;
}

.text-accent {
    color: #727272;
}

.todoizq{
    align-items: LEFT;
}

.categoria{
    display: flex;
    justify-content: center;
    flex-direction: center;
    margin-bottom: 100px;
}
.centeritems{
    display: flex;
    justify-content: center;
    flex-direction: center;
    margin-bottom: 100px;
}
.producto{
    display: flex;
    align-self: flex-end;
    justify-content: center;
    flex-direction: center;
    margin-bottom: 100px;
}
.imagen{
    width: 100px;
    height: 100px;
}

#ventas{
    border: medium;
    border-radius: 5px;
    border-style: double;
    border-color: black;
     display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-left: 80px;
}

.slider{
    width: 100px;
    height: 100px;
}
